<%= for post <- @posts do %>
<div>
            <h1><%= link post.title, to: post_path(@conn, :show, post) %></h1>
            <h2>Published <%= post.inserted_at.month %>
            <%= post.inserted_at.day %>,
            <%= post.inserted_at.year %></h2>
            <p><%= post.summary %></p>
<% end %>
